<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PhoneDirectory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PhoneDirectory.Properties.Settings.projectdbConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;E:\CS stuff\PhoneDirectory\Project_DB\projectdb.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <PhoneDirectory.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </PhoneDirectory.Properties.Settings>
    </userSettings>
</configuration>